body{
    font-family: "Roboto" sans-serif;
        color: #434455;
        background: #fff;
}

.page-nav .link:hover,
.page-nav .link:focus{
    
}


h1{
    font-weight: 700;
        font-size: 56px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.team{
    background-color: #FFFFFF;
}

.portfolio{

}


.service-button{
    cursor: pointer;
    font-weight: 500;
        font-size: 16px;
}